{% extends "bo/_base.html" %}

{% block content %}

<h1>Playlists</h1>
<div>
    <form class="form-inline" method="post">
        <div class="form-group">
            <input type="text" class="form-control" name="search" placeholder="Rechercher..." value="{{search}}">
            <select name="tag_id" class="form-control">
                <option value="">Filter tag</option>
            {% for tag in tags %}
                <option value="{{tag.id}}" {% if tag_id|int() == tag.id|int() %} selected="selected" {% endif %}>{{tag.name}}</option>
            {% endfor %}
            </select>
            <button type="submit" class="btn btn-default">Submit</button>
        </div>
    </form>
</div>
<br/>
<div>
    <a href="{{ url_for('playlists_edit') }}" class="btn btn-default">Create New</a>
</div>
<br/>
<div>
    <table class="table table-hover table-striped">
        <tr>
            <th>Id</th>
            <th>Nom</th>
            <th>Description</th>
            <th>Nb episodes</th>
            <th></th>
        </tr>
        {% for playlist in playlists %}
        <tr>
            <td>{{playlist.id}}</td>
            <td>{{playlist.name}}</td>
            <td style="width: 30%;word-wrap: break-word;">{{playlist.description}}</td>
            <td>{{ playlist.items|length }}</td>
            <td>
                <a href="{{ url_for('playlists_edit', id=playlist.id) }}" class="btn btn-default"><i class="fa fa-pencil"></i></a>
                <a href="{{ url_for('playlists_delete', id=playlist.id) }}" class="btn btn-default"><i class="fa fa-close"></i></a>
            </td>
        </tr>
        {% endfor %}
    </table>
</div>
{% endblock %}

{% block js %}
<script type="text/javascript">
    $(document).ready(function(){
        $(".add-tag").click(function(){
            playlist_id = $(this).parents('.well').attr('id')
            $('#tag_playlist_id').attr('value', playlist_id)
        });
    });
</script>
{% endblock %}