{% extends "bo/_base.html" %}

{% block content %}

<h1>Playlist</h1>
<div>
    <div class="well">
        <div class="row">
            <div>
             <h4>
                <strong>{{playlist.name}}</strong>
            </h4>
            <p>{{playlist.description}}</p>
        </div>
    </div>
</div>
<table>
    {% for it in playlist.ranked_items %}
    <div class="item">
        <div class="row">
            <div class="col-xs-8"><h4>{{it.item.name}}</h4>
                <div>
                    <i class="fa fa-clock-o fa-2x"></i>&nbsp;&nbsp;{{it.item.cat_name}}
                </div>
            </div>
            <div class="col-xs-4">
                <div class="btn-group">
                <a class='btn btn-default {% if it.rank == 0 %} disabled {% endif %}' 
                    href="/items/move/up/{{playlist.id}}/{{it.item_id}}"
                    ><i class='fa fa-caret-up'></i></a>
                <a class='btn btn-default {% if it.rank == (playlist.ranked_items|length) -1 %} disabled {% endif %}' 
                    href="/items/move/down/{{playlist.id}}/{{it.item_id}}"
                    ><i class="fa fa-caret-down"></i></a>
                </div>
            </div>
        </div>
        <p>{{it.item.description}}</p>
        <audio controls>
            <source src="{{it.item.audio_url}}" type="audio/mpeg">
                Your browser does not support the audio element.
        </audio>
    </div>
    {% endfor %}
</table>

{% endblock %}