{% extends "_base_mobile.html" %}

{% block content %}
<div class="row">
    <h3><p class="text-center">Tootak</p></h3>
</div>
<div class="row">
    <p class="text-center"><b>Durée</b></p>
</div>
<div class="row time-filter">
    <div class="col-xs-3"><button class="btn btn-block btn-default time-btn" value="0" id="time0"><i class="fa fa-hourglass-o"></i>&nbsp;5m</button></div>
    <div class="col-xs-3"><button class="btn btn-block btn-default time-btn" value="1" id="time1"><i class="fa fa-hourglass-end"></i>&nbsp;20m</button></div>
    <div class="col-xs-3"><button class="btn btn-block btn-default time-btn" value="2" id="time2"><i class="fa fa-hourglass-half"></i>&nbsp;1h</button></div>
    <div class="col-xs-3"><button class="btn btn-block btn-default time-btn" value="3" id="time3"><i class="fa fa-hourglass-start"></i>&nbsp;+1h</button></div>
</div>
<br/>
<div class="row">
    <p class="text-center"><b>Mood</b></p>
</div>
<div class="row">
    <div class="col-xs-3"><button class="btn btn-default btn-block genre-btn" id="News">News</button></div>
    <div class="col-xs-3"><button class="btn btn-default btn-block genre-btn" id="Comedy">Fun</button></div>
    <div class="col-xs-3"><button class="btn btn-default btn-block genre-btn" id="Culture">Culture</button></div>
    <div class="col-xs-3"><button class="btn btn-default btn-block genre-btn" id="Sports">Sport</button></div>
</div>
<div class="row" id="filter">
    <div class="col-xs-12">
        <div class="row">
            <div class="col-xs-3">
                <button class="genre btn btn-default btn-block"><i class="fa fa-play fa-2x"></i></button>
            </div>
            <div class="col-xs-9">
                <p class="item_name"></p>
                <p class="item_description"></p>
                <p><i class="item_duration"></i></p>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-3">
                <button class="btn btn-default btn-block">
                    <p class="text-center"><i class="fa fa-eye fa-2x"></i></p>
                    <p class="text-center">Suivre</p>
                </button>
            </div>
            <div class="col-xs-3">
                <button class="btn btn-default btn-block">
                    <p class="text-center"><i class="fa fa-circle-o fa-2x"></i></p>
                    <p class="text-center">Pas intéressé</p>
                </button>
            </div>
            <div class="col-xs-3">
                <button class="btn btn-default btn-block"  id="next" value="">
                    <p class="text-center"><i class="fa fa-forward fa-2x"></i></p>
                    <p class="text-center">Suivant</p>
                </button>
            </div>
            <div class="col-xs-3">
                <button class="btn btn-default btn-block">
                    <p class="text-center "><i class="fa fa-lightbulb-o fa-2x"></i></p>
                    <p class="text-center">Suggestions</p>
                </button>
            </div>
        </div>
    </div>
</div>
<br/>
<div class="row">
    <p class="text-center"><b>Autres&nbsp;sujets</b></p>
</div>
<div class="row">
    {% for playlist in playlists %}
    <div class="col-xs-3"><button class="btn btn-default btn-block topic-btn" id="{{ playlist.id }}">{{ playlist.name }}</button></div>
    {% endfor %}
</div>
<div class="row" id="playlist" style="display:none">
    <div class="col-xs-3">
        <button class="genre btn btn-default btn-block"><i class="fa fa-play fa-2x"></i></button>
    </div>
    <div class="col-xs-9">
        <p class="item_name"></p>
        <p class="item_description"></p>
        <p><i class="item_duration"></i></p>
    </div>
</div>
</div>
{% endblock %}
{% block js %}
<script type="text/javascript">
    var genre = {'News & Politics': 'News',
    'Comedy':'Comedy',
}
$(document).ready(function(){
    getCatTime = function() {
        var cat_time = $(".time-btn.active").attr("value");
        if (cat_time == undefined) {
            cat_time = '';
        }
        return cat_time;
    }
    getGenre = function() {
        var genre = $(".genre-btn.active").attr("id");
        return genre
    }

    filter = function(cat_time, genre, page) {
        $.post('{{ url_for('mob_home_ajax') }}',
        {
            cat_time:cat_time, genre:genre, page:page
        },
        function(data) {
            $('#playlist').css('display', 'none')
            $('#filter').removeAttr('style')
            obj = JSON.parse(data)
            $('#filter .item_name').text(obj.item.name)
            $('#filter .item_description').text(obj.item.description)
            $('#filter .item_duration').text(obj.item.duration)
            $(".genre-btn.active, .time-btn.active").removeClass('active')
            $('#'+obj.genre).addClass('active')
            if (obj.cat_time != '') {
               $('#time'+obj.cat_time).addClass('active')
           }
           console.log(+obj.page+1)
           $("#next").attr("value", +obj.page+1)
           $("#next").removeClass('active')
       }
       );
    }


    $(".time-btn").click(function(){
        cat_time = $(this).attr("value")
        filter(cat_time, getGenre(), 0);
    });
    $(".genre-btn").click(function(){
        genre = $(this).attr("id")
        filter(getCatTime(), genre, 0);
    });
    $("#next").click(function() {
        page = $(this).attr("value")
        filter(getCatTime(), getGenre(), page)
    });

    getPlaylist = function(playlistId) {
        $.post('{{ url_for('mob_playlist_ajax')}}',
        {
            playlistId:playlistId
        },
        function(data) {
            obj = JSON.parse(data)
            $('#filter').css('display', 'none')
            $('#playlist').removeAttr('style')
            $('#playlist .item_name').text(obj.item.name)
            $('#playlist .item_description').text(obj.item.description)
            $('#playlist .item_duration').text(obj.item.duration)
            $(".genre-btn.active, .time-btn.active").removeClass('active')
            $('#'+obj.genre).addClass('active')
            if (obj.playlistId != '') {
               $('#'+obj.cat_time).addClass('active')
           }
       }
       );
    }

    $(".topic-btn").click(function() {
        getPlaylist($(this).attr("id"))
    });

    filter('', 'News', 0)
});
</script>
{% endblock %}