{% extends "mobile/_base_mobile.html" %}

{% block content %}
<div class="row">
    <h3><p class="text-center">Tootak</p></h3>
</div>
<div class="row">
    <p class="text-center"><b>Durée</b></p>
</div>
<div class="row time-filter">
    {% for category in time_categories %}
    <div class="col-xs-3"><button class="btn btn-block btn-default btn-time" value="{{category.id}}" id="time{{category.id}}"><i class="fa {{category.icon}}"></i>&nbsp;{{category.name}}</button></div>
    {% endfor %}
</div>
<br/>
<div class="row">
    <p class="text-center"><b>Mood</b></p>
</div>
{% set i = 0 %}
{% for mood in moods %}
{% if i % 4 == 0 %}
<div class="row">
    {% endif %}
    <div class="col-xs-3"><button class="btn btn-default btn-block btn-mood box" id="{{mood}}">{{mood}}</button></div>
    {% if i % 4 == 3 or i == moods|length() -1 %}
</div>
{% endif %}
{% set i=i+1 %}
{% endfor %}

<div class="row" id="item">
    <div class="col-xs-3">
        <button class="genre btn btn-default btn-block" id="btn-audio">
            <img src="" style="max-width:60px; max-height:60px"><i class="fa fa-play fa-2x"></i></button>
    </div>
    <div class="col-xs-5">
        <p class="item_name box"></p>
        <p class="item_description box"></p>
        <p><i class="item_duration"></i></p>
        <div>
            <audio controls="controls" id="audio-ctrl">
                <source id="audio-src" type="audio/mpeg">
                    Your browser does not support the audio element.
            </audio>
        </div>
    </div>
     <div class="col-xs-2">
        <button class="btn btn-default btn-block" id="next" value="" title="Suivant">
            <p class="text-center"><i class="fa fa-forward fa-2x"></i></p>
        </button>
        </div>
        <div class="col-xs-2">
            <button class="btn btn-default btn-block" id="see_all" title="Voir tout">
                <p class="text-center"><i class="fa fa-search fa-2x"></i></p>
            </button>
        </div>
    </div>
    <br/>
    <div class="row">
        <p class="text-center"><b>Autres&nbsp;sujets</b></p>
    </div>
    <div class="row" id="playlists">
    </div>

    <div style="display:none">
        <form method="post" action="{{url_for('mob_search')}}" id="search_form">
            <input id="cat_time" type="hidden" name="cat_time" value="">
            <input id="mood" type="hidden" name="mood" value="">
            <input id="playlist_id" type="hidden" name="playlist_id" value="">
            <input id="source" type="hidden" name="source" value="">
            <input id="search" type="hidden" name="search" value="">
        </form>
    </div>
{% endblock %}
    {% block js %}
    <script type="text/javascript">
        var genre = {'News & Politics': 'News',
        'Comedy':'Comedy',
    }
    $(document).ready(function(){
        var playing = false;
        get_cat_time = function() {
            var cat_time = $(".btn-time.active").attr("value");
            if (cat_time == undefined) {
                cat_time = '';
            }
            return cat_time;
        }
        get_mood = function() {
            var mood = $(".btn-mood.active").attr("id");
            if (mood == undefined) {
                mood='';
            }
            return mood
        }

        filter = function(cat_time, mood, page) {
            $.post('{{ url_for('mob_home_ajax') }}',
            {
                cat_time:cat_time, mood:mood, page:page
            },
            function(data) {
                $('#item').removeAttr('style')
                obj = JSON.parse(data)
                $('#item .item_name').text(obj.item.name)
                $('#item .item_description').text(obj.item.description)
                $('#item .item_duration').text(obj.item.duration)
                $('#item img').attr('src', obj.item.image)
                $('#audio-src').attr("src", obj.item.audio_url)
                $('#audio-ctrl').load()
                playing=false;

                $(".btn-mood.active, .btn-time.active").removeClass('active')
                $('#'+obj.mood).addClass('active')
                if (obj.cat_time != '') {
                    $('#time'+obj.cat_time).addClass('active')
                }
                $("#next").attr("value", +obj.page+1)
                $("#next").removeClass('active')
                $("#next").blur()
                if (obj.playlists.length == 0) {
                    $('#playlists').empty()
                    $('#playlists').append('Pas de playlists de mood '+obj.mood);
                } else {
                    $('#playlists').empty()
                    $.each( obj.playlists, function( index, value ){
                        $('#playlists').append('<div class="col-xs-3"><button class="btn btn-default btn-block btn-playlist box" id="'+value.id+'">'+value.name+'</button></div>')
                    });
                }
            });
        }


        $(".btn-time").click(function(){
            cat_time = $(this).attr("value")
            filter(cat_time, get_mood(), 0);
        });
        $(".btn-mood").click(function(){
            mood = $(this).attr("id")
            filter(get_cat_time(), mood, 0);
        });
        $("#next").click(function() {
            page = $(this).attr("value")
            filter(get_cat_time(), get_mood(), page)
        });

        $("#see_all").click(function() {
            $('#cat_time').attr('value', get_cat_time())
            $('#mood').attr('value', get_mood())
            $('#search_form').submit();
        });

        $("#btn-audio").click(function(){
            if (!playing) {
                console.log('OUI')
                $('#audio-ctrl').trigger('play');
                playing=true;
            } else {
                console.log('NON')
                $('#audio-ctrl').trigger('pause');
                playing=false
            }
        });

        filter('', '{{moods[0]}}', 0)
    });
    $(document.body).on('click', '.btn-playlist' ,function(){
        $('#playlist_id').attr("value", $(this).attr("id"));
        $('#search_form').submit();
    });
</script>
{% endblock %}