{% extends "mobile/_base_mobile.html" %}

{% block content %}
<div class="row">
    <h3><p class="text-center">Tootak</p></h3>
</div>
<div class="row">
    <p class="text-center"><b>Durée</b></p>
</div>
<div class="row time-filter">
    <div class="col-xs-3"><button class="btn btn-block btn-default btn-time" value="0" id="time0"><i class="fa fa-hourglass-o"></i>&nbsp;5m</button></div>
    <div class="col-xs-3"><button class="btn btn-block btn-default btn-time" value="1" id="time1"><i class="fa fa-hourglass-end"></i>&nbsp;20m</button></div>
    <div class="col-xs-3"><button class="btn btn-block btn-default btn-time" value="2" id="time2"><i class="fa fa-hourglass-half"></i>&nbsp;1h</button></div>
    <div class="col-xs-3"><button class="btn btn-block btn-default btn-time" value="3" id="time3"><i class="fa fa-hourglass-start"></i>&nbsp;+1h</button></div>
</div>
<br/>
<div class="row">
    <p class="text-center"><b>Mood</b></p>
</div>
<div class="row">
    <div class="col-xs-3"><button class="btn btn-default btn-block btn-itunes-cat" id="News">News</button></div>
    <div class="col-xs-3"><button class="btn btn-default btn-block btn-itunes-cat" id="Comedy">Fun</button></div>
    <div class="col-xs-3"><button class="btn btn-default btn-block btn-itunes-cat" id="Culture">Culture</button></div>
    <div class="col-xs-3"><button class="btn btn-default btn-block btn-itunes-cat" id="Sports">Sport</button></div>
</div>
<div class="row" id="item">
    <div class="col-xs-2">
        <button class="genre btn btn-default btn-block"><i class="fa fa-play fa-2x"></i></button>
    </div>
    <div class="col-xs-8">
        <p class="item_name"></p>
        <p class="item_description"></p>
        <p><i class="item_duration"></i></p>
    </div>
    <div class="col-xs-2">
        <button class="btn btn-default btn-block"  id="next" value="">
            <p class="text-center"><i class="fa fa-forward fa-2x"></i></p>
            <p class="text-center">Suivant</p>
        </button>
    </div>
</div>
<br/>
<div class="row">
    <p class="text-center"><b>Autres&nbsp;sujets</b></p>
</div>
<div class="row">
    {% for playlist in playlists %}
    <div class="col-xs-3"><button class="btn btn-default btn-block topic-btn" id="{{ playlist.id }}">{{ playlist.name }}</button></div>
    {% endfor %}
</div>
<div class="row" id="playlist" style="display:none">
    <div class="col-xs-3">
        <button class="genre btn btn-default btn-block"><i class="fa fa-play fa-2x"></i></button>
    </div>
    <div class="col-xs-9">
        <p class="item_name"></p>
        <p class="item_description"></p>
        <p><i class="item_duration"></i></p>
    </div>
</div>
</div>
{% endblock %}
{% block js %}
<script type="text/javascript">
    var genre = {'News & Politics': 'News',
    'Comedy':'Comedy',
}
$(document).ready(function(){
    getCatTime = function() {
        var cat_time = $(".btn-time.active").attr("value");
        if (cat_time == undefined) {
            cat_time = '';
        }
        return cat_time;
    }
    get_iTunes_Cat = function() {
        var genre = $(".btn-itunes-cat.active").attr("id");
        return genre
    }

    filter = function(cat_time, itunes_cat, page) {
        $.post('{{ url_for('mob_home_ajax') }}',
        {
            cat_time:cat_time, itunes_cat:itunes_cat, page:page
        },
        function(data) {
            $('#playlist').css('display', 'none')
            $('#item').removeAttr('style')
            obj = JSON.parse(data)
            $('#item .item_name').text(obj.item.name)
            $('#item .item_description').text(obj.item.description)
            $('#item .item_duration').text(obj.item.duration)
            $(".btn-itunes-cat.active, .btn-time.active").removeClass('active')
            $('#'+obj.itunes_category_).addClass('active')
            if (obj.cat_time != '') {
                $('#time'+obj.cat_time).addClass('active')
            }
            $("#next").attr("value", +obj.page+1)
            $("#next").removeClass('active')
            $("#next").blur()
        });
    }


    $(".btn-time").click(function(){
        cat_time = $(this).attr("value")
        filter(cat_time, get_iTunes_Cat(), 0);
    });
    $(".btn-itunes-cat").click(function(){
        genre = $(this).attr("id")
        filter(getCatTime(), genre, 0);
    });
    $("#next").click(function() {
        page = $(this).attr("value")
        filter(getCatTime(), get_iTunes_Cat(), page)
    });

    getPlaylist = function(playlistId) {
        $.post('{{ url_for('mob_playlist_ajax')}}',
        {
            playlistId:playlistId
        },
        function(data) {
            obj = JSON.parse(data)
            $('#filter').css('display', 'none')
            $('#playlist').removeAttr('style')
            $('#playlist .item_name').text(obj.item.name)
            $('#playlist .item_description').text(obj.item.description)
            $('#playlist .item_duration').text(obj.item.duration)
            $(".btn-itunes-cat.active, .btn-time.active").removeClass('active')
            $('#'+obj.genre).addClass('active')
            if (obj.playlistId != '') {
                $('#'+obj.cat_time).addClass('active')
            }
        });
    }

    $(".topic-btn").click(function() {
        getPlaylist($(this).attr("id"))
    });

    filter('', 'News', 0)
});
</script>
{% endblock %}