{% extends "mobile/_base_mobile.html" %}

{% block content %}
<div class="row">
    <form method="post" action="{{url_for('mob_search')}}">
        <div class="col-xs-12">
            <div class="row">
                <h3><p class="text-center">Rechercher</p></h3>
            </div>
            <div class="row">
                <input name="search" placeholder="Recherche" type="text" class="form-control" value="{{search}}">
            </div>
            <br/>
            <div class="row time-filter">
                {% for category in time_categories %}
                <div class="col-xs-3"><a class="btn btn-block btn-default btn-time {% if cat_time|int() == category.id|int() %} active {% endif %}" value="{{category.id}}" id="time{{category.id}}"><i class="fa {{category.icon}}"></i>&nbsp;{{category.name}}</a></div>
                {% endfor %}
                <input id="cat_time" type="hidden" name="cat_time" value="{% if cat_time|int() != -1|int() %} {{cat_time}} {% endif %} ">
            </div>
            <input id="playlist" type="hidden" name="playlist_id" value="{{playlist_id}}">
            <input id="channel" type="hidden" name="channel_id" value="{{channel_id}}">
            <input id="source" type="hidden" name="source" value="{{source}}">
        </div>
        <input id="mood" type="hidden" name="mood" value="">
    </form>
</div>

<br style="border: 1px solid #333"/>
{% if items %}
    {% for item in items %}
    <div class="row item collapsed" style="border: 1px solid #555;margin-top:3px">
        <div class="col-xs-3">
            <button class="btn btn-block btn-default btn-audio" value="{{item.id}}">
                <img src="{{item.image}}" style="max-width:60px; max-height:60px">
                <i class="fa fa-play"></i>
            </button>
        </div>
        <div class="col-xs-9">
            <p><b>{{item.title}}</b></p>
            <p class="desc" style="display:none">{{item.description}}</p>
        </div>
        <div style="display:none">
            <audio controls="controls" id="audio-ctrl-{{item.id}}" preload='none'>
                <source type="audio/mpeg" src="{{item.audio_url_}}">
                Your browser does not support the audio element.
        </audio>
        </div>
    </div>
    {% endfor %}
{% else %}
    <div>Pas de résultats</div>
{% endif %}
{% endblock %}

{% block js %}
<script type="text/javascript">
    playing_audio_id=undefined
    $(document).ready(function(){
        search = function() {
            $('form').submit()
        };
        $(".btn-time").click(function(){
            value=''
            if ( $(this).hasClass("active")) {
                $(this).removeClass("active")
            } else {
                value = $(this).attr('value')
            }
            $('#cat_time').attr('value', value)
            search()
        });

         $('.item').click(function(){
             if ($(this).hasClass("collapsed")) {
                 $(this).removeClass("collapsed")
                 $(this).find(".desc").css('display','block')
             } else {
                 $(this).addClass("collapsed")
                 $(this).find(".desc").css('display','none')
             }
        });
        $('.btn-audio').click(function(){
            id=$(this).attr('value')
            audio_id = '#audio-ctrl-'+id
            if (playing_audio_id == undefined) {
                $(audio_id).trigger('load')
                $(audio_id).trigger('play')
                playing_audio_id = audio_id
            } else {
                $(playing_audio_id).trigger('pause')
                $(playing_audio_id).currentTime = 0.0

                if (playing_audio_id != audio_id) {
                    $(audio_id).trigger('play')
                    playing_audio_id = audio_id
                } else {
                    playing_audio_id = undefined
                }
            }
        });
    });
</script>
{% endblock %}
