{% extends "_base_mobile.html" %}

{% block content %}
<div class="row">
    <form method="post" action="{{url_for('mob_search')}}">
        <div class="col-xs-12">
            <div class="row">
                <h3><p class="text-center">Rechercher</p></h3>
            </div>
            <div class="row">
                <input name="search" placeholder="Recherche" type="text" class="form-control">
            </div>
            <br/>
            <div class="row time-filter">
                <div class="col-xs-3"><a class="btn btn-block btn-default btn-time {% if cat_time|int() == 0|int() %} active {% endif %}" value="0" id="time0"><i class="fa fa-hourglass-o"></i>&nbsp;0-5m</a></div>
                <div class="col-xs-3"><a class="btn btn-block btn-default btn-time {% if cat_time|int() == 1|int() %} active {% endif %}" value="1" id="time1"><i class="fa fa-hourglass-end"></i>&nbsp;5-20m</a></div>
                <div class="col-xs-3"><a class="btn btn-block btn-default btn-time {% if cat_time|int() == 2|int() %} active {% endif %}" value="2" id="time2"><i class="fa fa-hourglass-half"></i>&nbsp;20m-1h</a></div>
                <div class="col-xs-3"><a class="btn btn-block btn-default btn-time {% if cat_time|int() == 3|int() %} active {% endif %}" value="3" id="time3"><i class="fa fa-hourglass-start"></i>&nbsp;+1h</a></div>
                <input id="cat_time" type="hidden" name="cat_time" value="{% if cat_time|int() != -1|int() %} {{cat_time}} {% endif %} ">
            </div>
            <br/>
            <div class="row type-filter">
                <div class="col-xs-3"><a class="btn btn-block btn-default btn-type" value="0" id="type0"><p>News</p><p>&nbsp;</p></a></div>
                <div class="col-xs-3"><a class="btn btn-block btn-default btn-type" value="1" id="type1"><p>Repor</p><p>tage</p></a></div>
                <div class="col-xs-3"><a class="btn btn-block btn-default btn-type" value="2" id="type2"><p>Livre</p><p>&nbsp;</p></a></div>
                <div class="col-xs-3"><a class="btn btn-block btn-default btn-type" value="3" id="type3"><p>Confé</p><p>rence</p></a></div>
                <input id="cat_type" type="hidden" name="cat_type" value="">
            </div>
            <input id="playlist" type="hidden" name="playlist_id" value="{{playlist_id}}">
            <input id="channel" type="hidden" name="channel_id" value="{{channel_id}}">
        </div>
    </form>
</div>

<br style="border: 1px solid #333"/>
{% if items %}
    {% for item in items %}
    <div class="row item collapsed" style="border: 1px solid #555;margin-top:3px">
        <div class="col-xs-3">
        <!-- image -->
        </div>
        <div class="col-xs-9">
            <p><b>{{item.name}}</b></p>
            <p class="desc" style="display:none">{{item.description}}</p>
        </div>
    </div>
    {% endfor %}
{% else %}
    <div>Pas de résultats</div>
{% endif %}
{% endblock %}

{% block js %}
<script type="text/javascript">
    $(document).ready(function(){
        search = function() {
            $('form').submit()
        };
        $(".btn-time").click(function(){
            value=''
            if ( $(this).hasClass("active")) {
                $(this).removeClass("active")
            } else {
                value = $(this).attr('value')
            }
            $('#cat_time').attr('value', value)
            search()
        });

         $('.item').click(function(){
             console.log('ok')
             if ($(this).hasClass("collapsed")) {
                 console.log('expand')
                 $(this).removeClass("collapsed")
                 $(this).find(".desc").css('display','block')
             } else {
                 console.log('collapse')
                 $(this).addClass("collapsed")
                 $(this).find(".desc").css('display','none')
             }
        });
    });
</script>
{% endblock %}
