{% extends "_base.html" %}

{% block content %}

<h1>Playlists</h1>
<div>
    <form class="form-inline" method="post">
        <div class="form-group">
            <input type="text" class="form-control" name="search" placeholder="Rechercher..." value="{{search}}">
            <button type="submit" class="btn btn-default">Submit</button>
        </div>
    </form>
</div>
<br/>
<div>
    <button type="button" class="btn" data-toggle="modal" data-target="#create_new"><i class="fa fa-plus fa-2x"></i>&nbsp;Create new</button>
</div>
<br/>
<div>
    <table>
        {% for playlist in playlists %}
        <div class="well" id="{{playlist.id}}">
            <h4>
               <strong>{{playlist.name}}</strong>
           </h4>
           <p>{{playlist.description}}</p>
           <div>
            <a href="{{url_for('playlists_index')}}{{playlist.id}}">Voir</a>
        </div>
        <div>Tag:&nbsp;<button  class="btn btn-default add-tag"
            data-toggle="modal" data-target="#add_tag">
            {% if playlist.tag is none %} add tag {% else %} {{playlist.tag.name}} {% endif %}
        </button></div>
    </div>
    {% endfor %}
</table>
</div>

<!-- Modal -->
<div class="modal fade" id="create_new_playlist" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <form method="post" action="{{ url_for('playlists_add') }}">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">Create New Playlist</h4>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <label for="name">Playlist name</label>
                        <input type="text" name="name" class="form-control" id="name" placeholder="Name...">
                    </div>
                    <div class="form-group">
                        <label for="Description">Description</label>
                        <input type="text" name="description" class="form-control" id="description" placeholder="Description...">
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary">Save</button>
                </div>
            </form>
        </div>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="add_tag" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <form method="post" action="{{ url_for('playlists_add_tag') }}">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">Add Tag</h4>
                </div>
                <div class="modal-body">
                <input id="tag_playlist_id" type="hidden" name="tag_playlist_id" value="">
                    <select name="tag_id">
                        {% for tag in tags %}
                        <option value="{{tag.id}}">{{tag.name}}</option>
                        {% endfor %}
                    </select>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-primary">Save</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

{% endblock %}

{% block js %}
<script type="text/javascript">
    $(document).ready(function(){
        $(".add-tag").click(function(){
            playlist_id = $(this).parents('.well').attr('id')
            $('#tag_playlist_id').attr('value', playlist_id)
        });
    });
</script>
{% endblock %}