{% extends "_base.html" %}

{% block content %}

<h1>Podcasts</h1>
<div>
    <form method="post">
        <div class="form-group">
            <label for="search_title">Titre</label>
            <input type="text" class="form-control" name="search_title" placeholder="Rechercher..." value="{{search_title}}">
        </div>
        <div class="form-group">
            <label for="search_desc">Description</label>
            <input type="text" class="form-control" name="search_desc" placeholder="Rechercher..." value="{{search_desc}}">
        </div>
        <div class="form-group">
            <label for="search_genre">Genre</label>
            <select class="form-control" name="search_genre">
                <option value="" >Genre</option>
            {% for genre in genres %}
                <option value="{{genre}}" {% if search_genre == genre %} selected="selected" {% endif %}>{{genre}}</option>
            {% endfor %}
            </select>
        </div>
        <button type="submit" class="btn btn-default">Submit</button>
    </form>
</div>
<br/>
<div>
    <table>
        {% for channel in channels %}
        <div class="well" id="{{channel.id}}">
            <div class="row">
                <div class="col-xs-4">
                    <img src="{{channel.img_url}}" class="img-thumbnail">
                </div>
                <div class="col-xs-8">
                   <h4>
                    <strong>{{channel.name}}</strong> - <em>{{channel.genre}}</em>
                </h4>
                <p>{{channel.description}}</p>
                <div>
                    <a href="{{url_for('channels_get', id=channel.id)}}">Voir</a>
                </div>    
            </div>
        </div>
    </div>            
    {% endfor %}
</table>
</div>

{% endblock %}