{% extends "bo/_base.html" %}

{% block content %}

<div>
    <form method="POST">
        <div class="row">
            <div class="col-xs-2">
                <p>
                    <img src="{{form.image_.data}}" class="img-thumbnail" height="100" width="100">
                </p>
            </div>
            <div class="col-xs-5">
                <div class="form-group">
                    {{ form.title_.label }}
                    {{ form.title_(readonly=true, class_="form-control") }}
                </div>
                <div class="form-group">
                    {{ form.link_.label }}
                    {{ form.link_(readonly=true, class_="form-control") }}
                </div>
                <div class="form-group">
                    {{ form.description_.label }}
                    {{ form.description_(readonly=true, class_="form-control") }}
                </div>
                <div class="form-group">
                    {{ form.itunes_category_.label }}
                    {{ form.itunes_category_(readonly=true, class_="form-control") }}
                </div>
                <div class="form-group">
                    {{ form.language_.label }}
                    {{ form.language_(readonly=true, class_="form-control") }}
                </div>
                <div class="form-group">
                    {{ form.author_.label }}
                    {{ form.author_(readonly=true, class_="form-control") }}
                </div>
                <div class="form-group">
                    {{ form.image_.label }}
                    {{ form.image_(readonly=true, class_="form-control") }}
                </div>
                <div class="form-group">
                    {{ form.last_build_date_.label }}
                    {{ form.last_build_date_(readonly=true, class_="form-control") }}
                </div>
                <div class="form-group">
                    {{ form.created.label }}
                    {{ form.created(readonly=true, class_="form-control") }}
                </div>
            </div>
            <div class="col-xs-5">
                <div class="form-group">
                    {{ form.title.label }}
                    {{ form.title(class_="form-control") }}
                </div>
                <div class="form-group">
                    {{ form.description.label }}
                    {{ form.description(class_="form-control") }}
                </div>
                <div class="form-group">
                    {{ form.mood.label }}
                    {{ form.mood(class_="form-control") }}
                </div>
                <div class="form-group">
                    {{ form.image.label }}
                    {{ form.image(class_="form-control") }}
                </div>

            </div>
        </div>
        <p class="text-right"><input type="submit" value="Submit" class="btn btn-primary"></p>
    </form>
</div>

{% endblock %}