{% extends "bo/_base.html" %}

{% block content %}

<h1>Podcasts</h1>
<div>
    <form method="post">
        <div class="form-group">
            <label for="search_title">Titre</label>
            <input type="text" class="form-control" name="search_title" placeholder="Rechercher..." value="{{search_title}}">
        </div>
        <div class="form-group">
            <label for="search_desc">Description</label>
            <input type="text" class="form-control" name="search_desc" placeholder="Rechercher..." value="{{search_desc}}">
        </div>
        <div class="form-group">
            <label for="search_iCat">iTunes Category</label>
            <select class="form-control" name="search_iCat">
                <option value="" >Choose iTunes Category</option>
            {% for iCat in iTunes_categories %}
                <option value="{{iCat}}" {% if search_iCat == iCat %} selected="selected" {% endif %}>{{iCat}}</option>
            {% endfor %}
            </select>
        </div>
        <div class="form-group">
            <label for="search_mood">Mood</label>
            <select class="form-control" name="search_mood">
                <option value="" >Choose Mood</option>
            {% for mood in moods %}
                <option value="{{mood}}" {% if search_mood == mood %} selected="selected" {% endif %}>{{mood}}</option>
            {% endfor %}
            </select>
        </div>
        <button type="submit" class="btn btn-default">Submit</button>
    </form>
</div>
<br/>
<div>
    <table class="table table-striped table-hover">
        <tr>
            <th>#</th>
            <th>Titre Tootak</th>
            <th>Mood Tootak</th>
            <th>Producteur*</th>
            <th>Description Tootak</th>
            <th>Cat iTunes*</th>
            <th>Source</th>
            <th>Country</th>
            <th></th>
        </tr>
        {% for channel in channels %}
        <tr id="{{channel.id}}">
            <td><img src="{{channel.image}}" class="img-thumbnail" height="80" width="80"></td>
            <td>{{channel.title}}</td>
            <td>{{channel.mood}}</td>
            <td>{{channel.author_}}</td>
            <td style="width: 30%;word-wrap: break-word;">{{channel.description}}</td>
            <td>{{channel.itunes_category_}}</td>
            <td>{{channel.source}}</td>
            <td>{{channel.country}}</td>
            <td><a class='btn btn-default' href="{{url_for('channels_get', id=channel.id)}}"><i class="fa fa-search"></i></a></td>
        </tr>            
        {% endfor %}
    </table>
</div>

{% endblock %}