{% extends "bo/_base.html" %}

{% block content %}

<div>
    <div class="well">
        <div class="row">
            <div class="col-xs-2">
                <img src="{{channel.image}}" class="img-thumbnail" height="100" width="100">
            </div>
            <div class="col-xs-5">
             <h4><strong>{{channel.title}}</strong></h4>
             <p><a href="{{channel.link_}}">{{channel.link_}}</a></p>
             <p>{{channel.description}}</p>
             <p>{{channel.itunes_category_}}</p>
             <p>{{channel.language_}}</p>
             <p>{{channel.author_}}</p>
             <p>{{channel.last_build_date_}}</p>
             <p>{{channel.created}}</p>
         </div>
         <div col="col-xs-5">
            <p><i>Tootak</i></p>
            <p>{{channel.description}}</p>
            <p>{{channel.mood}}</p>
            <p>{{channel.image}}</p>
         </div>
     </div>
     <p class="text-right"><a class="btn btn-default" href="{{ url_for('channels_edit', id=channel.id) }}"><i class="fa fa-pencil"></i></a></p>
 </div>
</div>
<table class="table table-striped table-hover">
    <tr>
        <th>Titre*</th>
        <th>Description*</th>
        <th>Cat iTunes*</th>
        <th>Mood</th>
        <th>Durée*</th>
        <th>Audio*</th>
        <th>Publié*</th>
        <th></th>
    </tr>
    {% for item in items %}
    <tr>
        <td>{{item.title_}}</td>
        <td>{{item.description_}}</td>
        <td>{{item.itunes_category_}}</td>
        <td>{{item.mood}}</td>
        <td>{{item.duration_}}</td>
        <td></td>
        <td>{{item.pubdate_}}</td>
        <td></td>
    </tr>
    {% endfor %}
</table>

{% endblock %}