/* custom styles */

#main {
    padding-bottom: 95px;
}

.col-xs-3 {
    padding:3px;
}

#item {
    padding-top:5px;
}

#item > .col-xs-2 {
    padding:3px;
}

.btn {
    border-radius: 0;
}

.time-filter > .col-xs-3 {
    padding: 0 0 0 0;
}

.time-filter a.active {
    border-width: 3px;
}

a.category {
    height: 48px;
}

.box {
  /*display: block;*/
  width: 100%;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}